/*********************
POSTS & CONTENT STYLES
*********************/

/*********************
THEME SPECIFIC
*********************/

.entry-title {
	margin: 0;
	a{
		text-decoration:none;
	}
}

article.post-list {
	@include border();
	&:last-of-type {
		border:none;
		margin-bottom:0;
	}
	.post-banner {
		margin-top:$space-fourth;
	}
}

.post-banner img {
	width:100%;
}

article.post-single {
	
}

/*********************
BASIC
*********************/


/* post meta */
.byline {
	@extend .fs-small;
	color: $clr-gray;
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {

	table {
		width: 100%;
		border: 1px solid $clr-gray;
		margin-bottom: 1.5em;
		@extend .fs-small;
		caption {
			@extend .fs-small--xtra;
			margin: 0 0 7px;
			color: $clr-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $clr-gray;

		&:nth-child(odd) {
			background-color: $clr-gray--light;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $clr-gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $clr-gray--light;
		border-bottom: 1px solid $clr-gray;
		border-right: 1px solid $clr-gray;
		padding:15px 7px;
		&:last-child {
			border-right: 0;
		}
	}

	blockquote, q {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $clr-accent;
		font-style: italic;
		color: $clr-gray;
		cite {
			@extend .fs-small--xtra;
			margin-top:20px;
		}
		&:before {}

	}


	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: transparent;
	padding: 5px;
	border:solid 1px $clr-gray--light;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		@extend .fs-small--xtra;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */


/* image gallery styles */
.gallery {
	@include clearfix();
dl {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0;
	font-size:0;
	a {
		display:block;
		padding:1%;
	}

	img {
		margin:0;
		display:block;
	}

}

dt {}

dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}


.alignright, img.alignright { float: right; margin: 0 0 1em 1em; }
.alignleft, img.alignleft { float: left; margin: 0 1em 1em 0; }
.aligncenter, img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
