/*********************
POSTS & CONTENT STYLES
*********************/

	.single-title,
	.page-title,
	.entry-title {
		margin: 0;
	}

	.single-title {}

	.page-title {}

	.entry-title {}

	.archive-title {}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		@include small-font-size();
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {
		padding: 1.5em 0 0;

		p {

		}


		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		table {
			width: 100%;
			border: 1px solid $gray;
			margin-bottom: 1.5em;
			@include small-font-size();
			caption {
				@include xtra-small-font-size();
				margin: 0 0 7px;
				color: $meta-gray;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(odd) {
				background-color: $light-gray;
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			background-color: $light-gray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;
			padding:15px 7px;
			&:last-child {
				border-right: 0;
			}
		}

		blockquote, q {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			border-left: 3px solid $accent;
			font-style: italic;
			color: $meta-gray;
			cite {
				@include xtra-small-font-size();
				margin-top:20px;
			}
			&:before {}

		}

		dl {}

		dt {
			font-style:italic;
			color: lighten($text-color, 20%);
		}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
		.alignleft, img.alignleft {}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			color: $light-gray;
			@include small-font-size();
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

		code, var, tt {
			font-family:$mono;
			@include small-font-size();
			background:$light-gray;
		}

	} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: transparent;
	padding: 5px;
	border:solid 1px $light-border-color;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		@include xtra-small-font-size();
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */


/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}


.alignright, img.alignright { float: right; margin: 0 0 1em 1em; }
.alignleft, img.alignleft { float: left; margin: 0 1em 1em 0; }
.aligncenter, img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
