// -- Colors -------------------------------------- //
$clr-primary: 							#064272;
$clr-primary--light: 					lighten($clr-primary, 10%);
$clr-primary--dark: 					#011627;

$clr-alternate: 						#2ec4b6;
$clr-alternate--light: 					lighten($clr-alternate, 15%);
$clr-alternate--dark: 					darken($clr-alternate, 15%);

$clr-accent: 							#e71d36;
$clr-accent--light: 					#ff9f1c;
$clr-accent--dark: 						darken($clr-accent, 15%);

$clr-white: 							#fdfffc;

$clr-gray--light---xtra: 				#f8f8f8;
$clr-gray--light: 						#e5e5e5;
$clr-gray: 								#cccccc;
$clr-gray--medium: 						#909090;
$clr-gray--dark: 						#373737;


$clr-bkgrd:								$clr-white;

$clr-alert--red: 						red;
$clr-alert--yellow: 					yellow;
$clr-alert--green: 						green;
$clr-alert--blue: 						blue;



// -- Menu -------------------------------------- //
$main-menu-height: 						50px;
$main-menu-bkgrd: 						$clr-white;

$main-menu-a-color: 					#373737;
$main-menu-a-bkgrd-color: 				transparent;
$main-menu-a-color-hover: 				$clr-alternate--dark;
$main-menu-a-bkgrd-color-hover: 		$clr-alternate--light;


$main-submenu-a-color: 					#373737;
$main-submenu-a-bkgrd-color: 			$clr-white;
$main-submenu-a-color-hover: 			$clr-alternate--dark;
$main-submenu-a-bkgrd-color-hover: 		$clr-alternate--light;

$dropdown-menu-width: 					200px;



// -- HERO PANEL -------------------------------------- //
$hero-bkgrd: 							$clr-primary--dark;
$hero-h1: 								$clr-white;
$hero-h2: 								$clr-primary--light;
$hero-p--large: 						$clr-primary--light;
$hero-p: 								$clr-primary--light;


// -- OFFSCREEN Menu -------------------------------------- //
$offscreen-menu-bkgrd-color: 			$clr-alternate--dark;
$offscreen-menu-bkgrd-hover-color: 		lighten($clr-alternate--dark, 5%);
$offscreen-menu-border-color: 			$clr-alternate;
$offscreen-menu-color: 					$clr-white;
$offscreen-menu-color-hover: 			$clr-white;

$offscreen-menu-title-color: 			$clr-primary--dark;
$offscreen-menu-title-bkgrd-color: 		white;
$offscreen-menu-title-border-color: 	$clr-primary--dark;

$offscreen-menu-width:					70vw;




// -- Typography -------------------------------------- //
$base-font-color: 						#373737;
$base-font-family: 						sans-serif;
$heading-font-family: 					serif;
$heading-font-weight: 					700;
$mono-font-family: 						mono;


$sans-serif: 							sans-serif;
$serif: 								serif;



// -- Buttons -------------------------------------- //
$clr-button: 							$clr-white;
$clr-button---hover: 					$clr-white;
$clr-button---active: 					$clr-white;

$clr-button--bkgrd: 					$clr-alternate;
$clr-button--bkgrd---hover: 			lighten($clr-alternate, 10%);
$clr-button--bkgrd---active: 			darken($clr-alternate, 10%);

$clr-button--border: 					$clr-alternate;
$clr-button--border---hover: 			lighten($clr-alternate, 10%);
$clr-button--border---active:			darken($clr-alternate, 10%);

$clr-button--arrow: 					$clr-alternate;
$clr-button--icon: 						$clr-alternate--dark;

$clr-ghostbutton: 						$clr-alternate;
$clr-ghostbutton---hover: 				lighten($clr-alternate, 10%);
$clr-ghostbutton---active: 				darken($clr-alternate, 10%);

$clr-w-ghostbutton: 						$clr-alternate;
$clr-w-ghostbutton---hover: 				lighten($clr-alternate, 10%);
$clr-w-ghostbutton---active: 				darken($clr-alternate, 10%);





// -- Z-Index -------------------------------------- //
$z-top-absolute: 						9999;
$z-top: 								999;
$z-mid: 								500;
$z-low: 								1;
$z-bottom: 								0;
$z-negative: 							-1;




// -- Z-Index -------------------------------------- //
$space:									80px;
$space-half: 							$space/2;
$space-third: 							$space/3;
$space-fourth: 							$space/4;





// -- Misc -------------------------------------- //
$main-boxshadow:						0 0 30px rgba(0,0,0,0.2);

$border-color: 							$clr-gray--light;