//styles
/***********************************************************
MOBILE NAVIGATION STYLES
***********************************************************/
@include breakpoint(mobileOnly) {
  .top-level-nav {
    display:none;
  }
}

.mobile-nav {
  overflow-y:scroll;
  overflow-x:hidden;
  height:90%;
}

.mobile-menu-panel {
  background:$clr-primary--dark;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-y:auto;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  transform: translate(100%, 0);
  z-index:9999;
  
  &.is-visible {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    transform: translate(0, 0);
    transition-delay: 0s;
    .menu ul {
      li:nth-child(1) a {
        transform: translate(0, 0);
        transition-delay: 0.05s;
      }
      li:nth-child(2) a {
        transform: translate(0, 0);
        transition-delay: 0.1s;
      }
      li:nth-child(3) a {
        transform: translate(0, 0);
        transition-delay: 0.15s;
      }
      li:nth-child(4) a {
        transform: translate(0, 0);
        transition-delay: 0.2s;
      }
      li:nth-child(5) a {
        transform: translate(0, 0);
        transition-delay: 0.25s;
      }
      li:nth-child(6) a {
        transform: translate(0, 0);
        transition-delay: 0.3s;
      }
      li:nth-child(7) a {
        transform: translate(0, 0);
        transition-delay: 0.35s;
      }
      li:nth-child(8) a {
        transform: translate(0, 0);
        transition-delay: 0.4s;
      }
      li:nth-child(9) a {
        transform: translate(0, 0);
        transition-delay: 0.45s;
      }
      li:nth-child(10) a {
        transform: translate(0, 0);
        transition-delay: 0.5s;
      }/*end of li*/

      li a {
        transform: translate(0, 0);
        transition-delay: 0.7s;
      }/*end of li*/
    }/*end of mobile-nav ul*/
  }/*end of is-visible*/
  

  header {
      display:flex;
      border-left:solid 1px lighten($clr-primary--dark, 5%);
      background:white;
      height:50px;
      p{
        margin:0;
        padding:15px 20px;
        @extend .fs-large;
        flex:1;
        align-items:center;
      }/*end of p*/
      .mobile-menu-icon-close {
        cursor:pointer;
        border-left:solid 1px lighten($clr-primary--dark, 5%);
        flex:0 0 60px;
        display:flex;
        align-items:center;
        text-align:center;
        background:$clr-primary--light;
        i {
          @extend .fs-large;
          color:$clr-primary--dark;
          flex:1;
          transition: transform .3s ease-in-out;
      
        }/*end of i*/
      }/*end of mobile-menu-icon-close*/
    }/*end of header*/
    

  .menu {
    ul {
      padding:0;
      margin:0;
      li {
        list-style:none;
        border-bottom:solid 1px lighten($clr-primary--dark, 5%);
        display:block;
        position:relative;
        
        a {
          display:block;
          @extend .fs-small;
          padding:10px 20px;
          text-decoration:none;
          color:white;
          font-weight:400;
          transition-property: transform;
          transition-duration: 0.3s;
          transform: translate(100%, 0);
          &:hover, &:active {
            color:$clr-accent;
          }
        }

        ul li a {
          padding-left:30px;
          
          &:before {
            content:'>';
            display:inline-block;
            margin-right:5px;
            color:$clr-primary--light;
          }
        }
      }/*end of li*/
    }/*end of ul */
    
    ul#menu-main-menu > li:last-of-type {
          padding-bottom:40px;
        }
  }
}


.mobile-menu-icon-open {
  position:absolute;
  top:23px;
  right:20px;
  z-index:999;
  cursor:pointer;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  transform: translate(0, 0);
  color:$clr-accent;
  @extend .fs-large;
  z-index:9999;
  
  &.icon-hide {
    transform: translate(-200px, 0);
  }

  @include breakpoint(desktop){
    display:none;
  }
}
