/*********************
NAVIGATION STYLES
*********************/

.top-level-nav {
	@include clearfix();
	display:block;
	text-transform:uppercase;
	position:relative;
	width:100%;
	ul {
		display:block;
		position:relative;
		margin:0px;
		padding:0px;
		li {
			display:block;
			position:relative;
			a {
				display:block;
				margin:5px auto;
				padding:10px 5px;
				position:relative;
				text-decoration:none;
				color:$primary;
				font-weight:600;
				text-align:center;
				@include transition(color);
				@include rem(font-size, 1.8rem);
				@include rem(line-height, 2.4rem);
					&:hover, &:focus {
					color: $accent-dark;
					}

			}/*EO - a */
			ul {
				display:none;
			}
			&:hover > ul {

				li {

					a{

						&:hover, &:active {

						}
					}/*EO - a */
					&.current-menu-item {
						a {

						}/*EO - a */
					}/*EO - current-menu-item */
				}/*EO - li */
			}/*EO - :hover ul */
		}/*EO - li */
	}/*EO - .main-nav ul */
	@include breakpoint(desktop) {
		ul {
			display:block;
			margin:0px auto;
			float:left;
			li {
				display:inline-block;
				vertical-align:top;
				a {
					float:left;
					margin:7px 10px 0px;
					padding:5px;
					text-align:left;
					@include rem(font-size, 1.5rem);
					@include rem(line-height, 1.5rem);
				}/*EO - a */
				&:first-of-type a {
					padding-left:0px;
					margin-left:0px;
				}
				ul {
					display:none;
				}
				&:hover > ul {
					display:block;
					position:absolute;
					top:28px;
					left:10px;
					z-index:999;
					padding-top:20px;
					li {
						display:block;
						text-align:left;
						a{
							display:block;
							width:100%;
							white-space:nowrap;
							background:$white;
							padding:10px 15px;
							margin:0px;
							color: $primary;
							transition:all 0.2s ease;
							box-shadow:0px 3px 5px black(0.2);
							@include rem(font-size, 1.3rem);
							&:hover, &:active {
								background:$primary-light;
							}
						}/*EO - a */
						&.current-menu-item {
							a {
								background:#D2E1EF;
								color:$primary-dark;
							}/*EO - a */
						}/*EO - current-menu-item */
					}/*EO - li */
				}/*EO - :hover ul */
			}/*EO - li */
		}/*EO - .main-nav ul */
	}/*EO - breakpoint desktop */
	@include breakpoint(large) {
		ul {
		}/*EO - .main-nav ul */
	}/*EO - breakpoint large */
}/*EO - top-levle-nav */
