/*********************
NAVIGATION STYLES
*********************/

.top-level-nav {
	@include clearfix();
	display:block;
	text-transform:capitalize;
	position:relative;
	width:100%;
	z-index:9996;
	nav {

	}
	ul {
		display:block;
		position:relative;
		margin:0px;
		padding:0px;
		li {
			display:block;
			position:relative;
			a {
				display:block;
				position:relative;
				text-decoration:none;
				color:$clr-accent;
				font-weight:600;
				text-align:center;
				transition:padding 0.4s ease;
				padding:20px 20px;
				font-family:$sans-serif;
				text-align:center;
				@include font(1.8, 2.4);
				transition: color 0.4s, padding 0.4s;
					&:hover, &:focus {
					color: $clr-accent--dark;
					}
					.menu-item-description {
						display:none;
					}
				.fa {
					padding:0px 5px 0px 15px;
				}
			}/*EO - a */
			&:first-of-type {
				a {
					margin-left:0;
				}
			}
			&:last-of-type {
				a {
					border-right:none;
					margin-right:0;
				}
			}
			&.current-menu-item a {
				color:$clr-primary;
			}
			ul {
				display:none;
			}
			&:hover > ul {

				li {

					a{

						&:hover, &:active {

						}
					}/*EO - a */
					&.current-menu-item {
						a {

						}/*EO - a */
					}/*EO - current-menu-item */
				}/*EO - li */
			}/*EO - :hover ul */
		}/*EO - li */
	}/*EO - .main-nav ul */

	@include breakpoint(desktop) {
		nav {
			display:block;
			position:relative;
			z-index:999;
		}
		nav > ul.menu {
			display:block;
			margin:0;
			padding:0;
			& > li {
				display:inline-block;
				vertical-align:top;
				position:relative;
				a {
					display:block;
					text-align:center;
					position:relative;
					
				}/*EO - a */
			}/*EO - li */
		}/*EO - ul */


		/* SUBMENUS */
		ul.menu > li ul {
			height:0;
			overflow:hidden;
		}
		
		/* SUBMENU #1 */
		ul.menu > li > ul {
			background:$clr-white;
			border-radius:5px;
			/*border:solid 1px $border-color;*/
			box-shadow:0px 5px 7px rgba(0,0,0,0.2);
			display:block;
			top:300px;
			min-width:$dropdown-menu-width;
			margin:0px;
			position:absolute;
			opacity:0;
			@include transition();

		}

		ul.menu > li:hover > ul {
			top:65px;
			left:0;
			opacity:1;
			height:auto;
			overflow:initial;
			z-index:999;
		}
		ul.menu > li:hover > a {
			color:$clr-accent--dark;
		}

		ul.menu > li.edge:hover > ul {
			right:0;
			left:auto;
		}

		ul.menu > li > ul li {
			display:block;
			width:100%;
		}

		ul.menu > li > ul li a {
			padding: 10px 20px;
			margin:0;
			text-align:left;
			@include font(1.6, 2);
			color:$clr-accent;
			&:hover, &:active {
				color:$clr-accent--dark;
			}
		}



	}/*EO - breakpoint desktop */




}/*EO - top-levle-nav */


.stick {
	position:absolute;
	top:0;
	width:100%;
	z-index:9999;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	@include breakpoint(desktop){
		position:fixed;
		ul.menu > li:hover > ul {
			top:35px;
		}
	}
}

.main-site-logo {
	position:absolute;
	text-align:center;
	width:50%;
	left:25%;
	height:auto;
	margin:0;
	padding:0;
	z-index:9997;
	top:20px;
	transition: all 0.3s ease;
	a {
		display:block;
	}
	img {
		width:100px;
	}
	@include breakpoint(desktop){
		position:absolute;
		top:10px;
		left:0;
		text-align:left;
		width:150px;
		img {
			width:150px;
			height:auto;
			margin-left:20px;
		}
	}
	@include breakpoint(large){
		width:170px;
		img {
			width:170px;
			height:auto;
		}
	}
}

header.shrink .main-site-logo {
		width:90px;
		top:5px;
}

.page-template-page-template-landing-page header.shrink {
	.main-site-logo {
		top:15px;
	}
}


.shrink {

	li a {
		padding:5px 20px !important;
	}
	li ul li a {
		padding:10px 20px !important;
	}
	.landing-page a.button {
		margin:10px;
		@extend .fs-small--xtra;
		padding:5px 10px;
	}
}




