/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

******************************************************************/

/*******************
FONT SIZE AND LINE HEIGHT
*********************/
@mixin font($size:1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}



@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/*******************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == mobileOnly {
    @media (max-width: 768px) { @content; }
  }
  @if $point == tablet {
    @media (min-width: 481px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1030px)  { @content; }
  }
}



/*********************
TRANSITION
*********************/

/*
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition: all) {
  transition: $transition 0.4s ease;
}

@mixin transitionMultiple($transition...) {
  transition: $transition 0.4s ease;
}



/*********************
CSS3 GRADIENTS
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($deg: 250deg, $from: #dfdfdf, $to: #f8f8f8) {
  background-color: $to;
  background-image: linear-gradient($deg, $from, $to);
}

@mixin radial-gradient($from, $to) {
  background: radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-color: $from;
}



/*********************
// antialiasing mode font rendering
*********************/

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






/*********************
ANGLED SECTIONS
*********************/
@mixin angle($pseudo, $flip: false, $angle: 2deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}






/*********************
UTILITIES
*********************/

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin box-sizing($type: border-box) {
  box-sizing:         $type;
}


@mixin border($color: $clr-gray--light) {
  border-bottom:solid 1px $color;
  margin-bottom:$space-half;
  padding-bottom:$space-half;
}

@mixin border-small($color: $clr-gray--light) {
  border-bottom:solid 1px $color;
  margin-bottom:$space-fourth;
  padding-bottom:0;
}
