.article-excerpt-layout  {
	@include clearfix();
	.a-excerpt {
		.a-header {

		}
		.a-meta {
			margin-top:0px;
		}
		.a-date {
			@extend .fs-small;
			margin:0px;
			padding:0px;
		}
		.a-title-link {
			text-decoration:none;
			&:hover .a-title, &:active .a-title{
				color:$clr-accent;
			}
		}
		.a-title {
			transition:color 0.4s ease;
			margin:0px;
			padding:0px;
			@extend .fs-large;
		}
		.a-content {

		}
		.a-action {
			margin-top:10px;
		}
	}
	&:last-of-type {
		border:none;
		padding-bottom:0px;
	}
}


