.dan-logo-carousel {
	.carousel-items {
		height:200px;
		line-height:200px;
		padding-bottom:0px;
		ul {
			@include clearfix();
			@include vertical-align();
			}/* EO ul */
		li {
			img {
			width:100%;
			line-height:200px;
			}
		}/* EO li */
	}/* EO carousel-items */
}
