
/*********************
FOOTER STYLES
*********************/


@mixin footer-links {
	display:block;
	text-decoration:none;
	padding:6px 0px;
	@include small-font-size();
	color:$r-link-color;
	&:hover {
		color:$r-link-hover;
	}
	&:active {
		color:$r-link-active;
	}
}


.site-footer {
	clear: both;
	background-color: $primary-dark;
	color: $light-gray;
}


#footer-logo {
	text-align:center;
	padding:40px 0px;
	img {
		display:block;
		margin:0px auto;
	}
}


#footer-cr {
	p {
		@include small-font-size();
		color:$primary-light;
		padding:40px 0px;
	}
}
