/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	#logo {
		margin:$space-fourth auto;
		text-align:center;
		@include medium-font-size();
		a {
			color: $accent-dark;
			img {
				max-height:40px;
				width: auto;
			}
		}
	}
	.top-level-nav {
		display:none;
	}
	@include stack();
	@include breakpoint(desktop){
		#logo {
			@include column(1/4);
			text-align:left;
			margin-top:10px;
			margin-bottom:10px;
			a {
				img {
					max-height:40px;
					width: auto;
				}
			}
		}
		.top-level-nav {
			@include column(3/4);
			text-align:right;
			display:block;
		}
	}
}


.dan-hero {
	background:$primary-dark;
	text-align:center;
	padding:80px 0px;
	.hero-content {
		h1, h2, p {
			color:$white;
		}
		h1.archive-title {
			span {
				display:block;
				@include medium-font-size();
				font-weight:300;
			}
		}
		.hero-cta {
			margin-top:40px;
		}
	}
}
