
.modal-container {
  background: white;
  h3 {
    padding: 1rem;
    color: white;
    background: #444;
  }
}


.modal-content {
  padding: 1rem;
}

.modal-overlay {
  z-index: 1000;
  background: rgba(black, 0.5);
}

.jquery-modal {
  z-index:9999 !important
}