.modal-trigger {
  .button {
    
  }
}

.modal-container {
  position: fixed;
  display:flex;
  top: -100%;
  left: 0;
  width: 100%;
  height: 0;
  z-index:9999;
  align-items:center;
  justify-content:center;
  overflow:scroll;
  .modal-content {
    width: 80%;
    position:relative;
    z-index:9995;
    overflow:scroll;
    background:white;
    padding:30px;
    max-height:90vh;
    .modal-scroll-100 {
      height:100%;
      .modal-scroll-container {
        height:100%;
        overflow:scroll;
      }
    }
  }

  .modal-close {
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 15px;
    height: 35px;
    width: 35px;
    font-size:2rem;
    line-height:35px;
    @include breakpoint(desktop) {
      top: 25px;
      right: 25px;
      height: 50px;
      width: 50px;
      font-size:2.5rem;
      line-height:50px;
    }
    padding:0;
    margin:0;
    color:$accent;
    border-radius: 50%;
    cursor:pointer;
    background: white;
    text-align:center;
    text-decoration:none;
    transition:all 0.2s ease;
    &:hover {
      color:$accent-dark;
      top: 10px;
      right: 10px;
      height: 45px;
      width: 45px;
      font-size:2.3rem;
      line-height:45px;
       @include breakpoint(desktop) {
        top: 20px;
        right: 20px;
        height: 60px;
        width: 60px;
        font-size:2.9rem;
        line-height:60px;
      }
    }
    &:active {
      top: 15px;
      right: 15px;
      height: 35px;
      width: 35px;
      font-size:2rem;
      line-height:35px;
      @include breakpoint(desktop) {
        top: 25px;
        right: 25px;
        height: 50px;
        width: 50px;
        font-size:2.5rem;
        line-height:50px;
      }
    }
  }
  
  .modal-bkgrd {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary-dark;
    opacity: 0;
    z-index:9990;
  }

}



