
.effeckt-modal {
  background: white;
  h3 {
    padding: 1rem;
    color: white;
    background: #444;
  }
}


.effeckt-modal-content {
  padding: 1rem;
}

.effeckt-modal-overlay {
  z-index: 1000;
  background: rgba(black, 0.5);
}

// Pisitional Modal
.effeckt-positional-modal-wrap {
  .effeckt-modal {
    padding: 10px;
    background: #ccc;
  }
  .effeckt-modal-content {
    background: white;
  }
}
