.pin-content-container.left-sidebar {
  .dan-page-content {
    @include breakpoint(desktop) {
      float:right;
    }
  }
}

.pin {
  display:none;
  @include breakpoint(desktop) {
    display:block;
  }
}
