.title-group {
  text-align:left;
  padding:$space 0px;
  i.fa {
    margin:0 auto $space-fourth;
    padding:0;
  }
  p {
    margin:0 auto 10px;
    padding:0;
  }
  p.title {
    margin:0 auto $space-fourth;
  }
  p.subtitle {

  }
  p.content {

  }
  .buttons {
    margin-top:$space-half;
    a.button.primary {

    }
    a.button.secondary {

    }
  }

}/* EO - title-group */


.title-group.center {
  text-align:center;
}

.slab {
  background:$primary;
  i.fa {
    color:lighten($primary, 25%);
  }
  p,a {
    color:$white;
  }
}

.slab.dark {
  background:$primary-dark;
  i.fa {
    color:lighten($primary-dark, 35%);
  }
}

.slab.light {
  background:$light-gray;
  i.fa {
    color:darken($base-font-color, 15%);
  }
  p,a {
    color:$base-font-color;
  }
}
