.title-group {
  text-align:left;
  padding:$space 0px;
  i.fa {
    margin:0 auto $space-fourth;
    padding:0;
  }
  p {
    margin:0 auto 10px;
    padding:0;
  }
  p.title {
    margin:0 auto $space-fourth;
  }
  p.subtitle {

  }
  p.content {

  }
  .buttons {
    margin-top:$space-half;
    a.button.primary {

    }
    a.button.secondary {

    }
  }

}/* EO - title-group */


.title-group.center {
  text-align:center;
}

