.layout-one {
	.article-container {
		@include border-bottom();
		border-color:$light-border-color;
		&:last-of-type {

		}
	}

	.dan-banner {
		width:100%;
		height: 300px;
		overflow:hidden;
		margin:10px auto;
		img {
			width:100%;
			height:auto;
		}
	}

	.dan-title {

	}
	.dan-date {
		@include small-font-size();
	}
	.dan-category {

	}
	.dan-comment-count {

	}
	.dan-tag {

	}
}
