/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*show jeet grey container boxes
@include edit();
*/

/*********************
GENERAL STYLES
*********************/
html {
	font-size: 62.5%;
	height:100%;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.wrap {
	@include clearfix();
	@include breakpoint(desktop) {
		width: 95%;
	}
	max-width:1240px;
	margin: 0 auto;
  position:relative;
}

#body-container {
}


hr {
	margin:80px auto;
	border:0;
	height:0;
	border-bottom:solid 1px $border-color;
	display:block;
	width:100%;
	clear:both;
}


.divider {
  margin:80px auto;
  color:$meta-gray;
  text-transform:uppercase;
  @include medium-font-size();
  font-family: $heading;
}

.center {
	margin:0px auto;
	display:block;
}

.tcenter {
	text-align:center;
}

.row {
	@include clearfix();
}

.p-ls-group {
  p.large {
    margin-bottom:30px;
  }
}

.clearfix, .cf {
  @include clearfix();
}



.noBottom {
  margin-bottom:0px;
}
/*
@include edit();
*/
