/*********************************************
*
* Use -webkit-overflow-scrolling:touch; whenever overflow:scroll is used
*
**********************************************/

/*********************
GENERAL STYLES
*********************/
html,body {
	background: $clr-white;
	margin:0;
	padding:0;
	height:100%;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[data-effeckt-page] {
	visibility:visible;
	display:block;
}


/*HOLY GRAIL PAGE LAYOUT*/
.on-page-container {
	display:flex;
	flex-direction:column;
	min-height:100%;
	.nav-main {
		flex: 0 0 auto;
	}
	.hero {
		flex: 0 0 auto;
	}
	.page-content {
		flex: 1 1 auto;
	}
	.site-footer {
		flex: 0 0 auto;
	}
}


img { max-width:100%; height:auto; }


