html {
	font-size:62.5%;
}

body {
  color: $base-font-color;
  @include font(1.8, 2.4);
  font-family: $base-font-family;
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-rendering: optimizelegibility;
}


.h1 { @include font(4, 4.5); }
.h2 { @include font(3, 3.5); }
.h3 { @include font(2, 2.5); }
.h4 { @include font(1.8, 2.3); }
.h5 { @include font(1.6, 2.1); }


.italic { font-style: italic; }
.bold   { font-weight: 700; }
.thin { font-weight: 300; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }



.entry-content {
  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  h1, .h1 { @extend .h1; margin: 1em 0 0.5em; }
  h2, .h2 { @extend .h2; margin: 1em 0 0.5em; }
  h3, .h3 { @extend .h3; margin: 1em 0 0.5em; }
  h4, .h4 { @extend .h4; margin: 1em 0 0.5em; }
  h5, .h5 { @extend .h5; margin: 1em 0 0.5em; }
  h6, .h6 { @extend .h6; margin: 1em 0 0.5em; }

  p, ul, ol, pre { @extend .block-margins; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }
}



/*********************
FONT SIZES BY CLASS
**********************/
.fs-large--hero {
	@include font(3.4, 4);
	@include breakpoint(desktop) {
		@include font(6, 6.6);
	}
}


.fs-large--xtra {
	@include font(2.4, 3);
	@include breakpoint(desktop) {
		@include font(4.4, 5);
	}
}

.fs-large {
	@include font(2, 2.8);
	@include breakpoint(desktop) {
		@include font(2.6, 3.4);
	}
}

.fs-medium {
	@include font(1.8, 2.4);
	@include breakpoint(desktop) {
		@include font(2, 2.8);
	}
}

.base-font-size {
	@include font(1.4, 2);
	@include breakpoint(desktop) {
		@include font(1.6, 2.2);
	}
}

.fs-small {
	@include font(1.4, 2);
}

.fs-small--xtra {
	@include font(1.1, 1.6);
}





/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p, address, ol, ul, div {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $clr-alternate;
	@include transition(color);

	/* on hover */
	&:hover, &:focus {
		color: $clr-accent--dark;
	}

	/* on click */
	&:active {
		color: $clr-accent--dark;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/*************************
SPECIAL TAGS
*************************/
pre {
	background: $clr-gray--dark;
	color: $clr-gray--light;
	@extend .fs-small;
	padding: $space-third;
	margin: $space-third auto;
	border-radius: 3px;
}

code, var, tt {
	font-family:$mono-font-family;
	@extend .fs-small;
	background:$clr-gray--light;
}

address {
	padding-left:30px;
}



.tc-white { color:$clr-white; }

.tc-gr--light--xtra { color:$clr-gray--light---xtra; }
.tc-gr--light { color:$clr-gray--light; }
.tc-gr { color:$clr-gray; }
.tc-gr--medium { color:$clr-gray--medium; }
.tc-gr--dark { color:$clr-gray--dark; }

.tc-accent--light { color:$clr-accent--light; }
.tc-accent { color:$clr-accent; }
.tc-accent--dark { color:$clr-accent--dark; }

.tc-alternate--light { color:$clr-alternate--light; }
.tc-alternate { color:$clr-alternate; }
.tc-alternate--dark { color:$clr-alternate--dark; }

.tc-primary--light { color:$clr-primary--light; }
.tc-primary { color:$clr-primary; }
.tc-primary--dark { color:$clr-primary--dark; }

