/******************************************************************

Stylesheet: Button Styles


******************************************************************/

button, .button , a.button {
  display: inline-block;
  background-color: $clr-button--bkgrd;
  color: $clr-button;
  position: relative;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition();

  &:hover, &:focus {
    color: $clr-button---hover;
    background-color: $clr-button--bkgrd---hover;
  } 

  &:active {
    top: 1px; // adds a tiny hop to the click
    color: $clr-button---active;
    background-color: $clr-button--bkgrd---active;
  } 

} // end .button


.button-small {
  @extend .button;
  @extend .fs-small;
  padding:3px 6px;
}

button.ghost, .button.ghost {
  @extend .button;
  background-color: transparent;
  color: transparent;
  border:solid 1px $clr-ghostbutton;
  
  &:hover, &:focus {
    background-color: transparent;
    color:$clr-ghostbutton---hover;
    border-color:$clr-ghostbutton---hover;
  } // end hover

  &:active {
    background-color: transparent;
    color:$clr-ghostbutton---active;
    border-color:$clr-ghostbutton---active;
  } // end active
  
  &:visited {
  }
} 

button.ghost-rev, .button.ghost-rev {
  @extend .button;
  background-color: transparent;
  color: $clr-w-ghostbutton;
  border:solid 1px $clr-w-ghostbutton;
  
  &:hover, &:focus {
    background-color: transparent;
    color:$clr-w-ghostbutton---hover;
    border-color:$clr-w-ghostbutton---hover;
  } // end hover

  &:active {
    background-color: transparent;
    color:$clr-w-ghostbutton---active;
    border-color:$clr-w-ghostbutton---active;
  } // end active
  
  &:visited {
  }
} 