.stalker-content-container {
  #stalker-nav {
    padding:25px 0 0;
    margin:0;
    li {
      list-style:none;
      a {
        display:block;
        padding:5px;
        text-align:center;
        text-decoration:none;
        border:solid 1px $border-color;
        color:$border-color;
        margin:5px 0 0 0;
        &.is-active {
          border-color:$accent-dark;
          color:$accent-dark;
        }
      }
    }
  }
}
