.etabs { 
	 margin: 0;
	  padding: 0;
	  list-style: none;
	  width:100%;
	  display:block;
	  vertical-align:top;
}

li.tab { 
	 display:block;
    margin-right:0;

	a {
		@extend .fs-small;
      font-weight:bold;
      font-style:italic;
      display: block;
      padding: 15px 15px 15px 0;
      color: $clr-accent;
      background-color: transparent;
      text-decoration:none;
      border-bottom:solid 1px $clr-gray--light;
      position:relative;


		&:hover, &.active { 
			background-color: transparent;
	        color: $clr-primary;
	        border-color:$clr-primary;
		}

		&.active:before {
	        font-family: FontAwesome;
	        content:"\f054";
	        font-style:normal;
	        font-size:14px;
	        display:block;
	        position:absolute;
	        right:0;
	        top:15px;
	      }
	}

	&:last-of-type a {
      border-bottom:none;
    }

	&.active {
		background: #fff;
		padding-top: 6px;
		position: relative;
		top: 1px;
		border-color: #666;
	}
}


.tab-content {
    top: 10px;

  .icon-title {
    display:flex;
    align-items:center;

    .icon img {
      max-height:120px;
      width:auto;
      display:block;
      margin:0;
    }

    .title p {
      padding:0;
      margin:0;
    }
  }

}


.panel-container { 
	padding:0px;
	  margin-bottom: 20px;
	  border:none;
	  width:100%;
	  display:block;
	  vertical-align:top;
}



@include breakpoint(desktop){

  ul.etabs {
    width:30%;
    display:inline-block;
    vertical-align:top;

    li {
      margin-right:$space;
    }
  }

  .panel-container {
    width:69%;
    display:inline-block;
    vertical-align:top;
  }
}

@include breakpoint(mobileOnly){
  .icon-title {
    .icon {
      display:none;
    }

    .title {
      width:100%;
      margin-top:$space-half;
    }
  }
}