.slab {
	text-align:center;
	margin:40px auto;
	padding:20px;
	.dan-title {
		margin:0px;
	}
	.dan-large {
		margin:10px 0px 0px;
	}
}

.slab-primary-bkgrd {
	@include clearfix();
	background:$primary;
	color:$white;
	text-align:center;
	.wrap {
		padding:40px 0px;
		@include breakpoint(desktop) {
			width:70%;
		}
	}
	i {
		color:$primary-medium;
		margin:0px auto 30px;
		&.large {
			@include large-font-size();
		}
	}
	.section-title {
		@include small-section-title();
		margin-bottom:0px;
		color:$white;
	}
	.section-content {
		@include small-section-content();
		color:$white;
	}
	a.button {
		margin:20px auto;
	}
}



.slab-primary-bkgrd-dark {
	@extend .slab-primary-bkgrd;
	background:$primary-dark;
	i {
		color:$primary;
	}
}