/*********************
SIDEBARS & ASIDES
*********************/

.sidebar, .dan-sidebar {
	@include clearfix();
}

.widgettitle {
	@include title-border-bottom();
	@include medium-font-size();
	font-family:$heading;
}

.widget {
	margin-bottom:40px;
	position:relative;
	@include clearfix();
	ul {
		padding:0;
		margin:0;
		li {
			list-style:none;
			&:first-child {}

			&:last-child {}

			a {
				text-decoration:none;
				color:$text-color;
				display:block;
				&:hover, &:active {
					color:$accent;
				}
			}/* EO - a */

			/* deep nesting */
			ul {}

		}/* EO - li */

	}/* EO - ul */

	li.cat-item {
		text-align:right;
		position:relative;
		padding:5px 0px;
		@include small-font-size();
		@include clearfix();
		color:lighten($text-color, 30%);
		a {
			width:100%;
			position:absolute;
			top:0px;
			left:0px;
			text-align:left;
			padding:5px 0px;
		}
	}/* EO - cat-item */

	li.menu-item {
		a {
			@include small-font-size();
			display:block;
			padding:5px 0px;
		}
		.sub-menu {
			padding-left:10px;
		}
	}

	li.page_item {
		a {
			@include small-font-size();
			display:block;
			padding:5px 0px;
		}
		.sub-menu {
			padding-left:10px;
		}
	}

	&.widget_meta {
		li {
			a {
				@include small-font-size();
				display:block;
				padding:5px 0px;
			}
		}
	}

	li.recentcomments {
		@include small-font-size();
		color:lighten($text-color, 30%);
		border-bottom:solid 1px $border-color;
		margin-bottom:5px;
		padding-bottom:5px;
		a {
			display:block;
			padding:5px 0px;
		}
		span {
			display:inline-block;
			a {
				display:inline-block;
				padding-bottom:0px;
			}
		}
		&:last-of-type {
			border:none;
			padding-bottom:0px;
		}
	}

	.tagcloud {
		a {
			color:$text-color;
			text-decoration:none;
		}
	}

	select {

	}

	.screen-reader-text {
		position:absolute;
		left:-10000px;
		top: ato;
		width:1px;
		height:1px;
		overflow:hidden;
	}

}/* EO - widget */

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}
